<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Gitit User’s Guide.md</key>
			<dict>
				<key>lastModification</key>
				<real>505462149.533503</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>Help.md</key>
			<dict>
				<key>lastModification</key>
				<real>505462149.53351003</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>TensorFlow.md</key>
			<dict>
				<key>lastModification</key>
				<real>505631655.03574699</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>62</integer>
				</dict>
			</dict>
			<key>Tensorflow基本使用.md</key>
			<dict>
				<key>lastModification</key>
				<real>505631640.92877197</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>58</integer>
				</dict>
			</dict>
			<key>index.md</key>
			<dict>
				<key>lastModification</key>
				<real>505462149.53351098</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>introduction of labkit.md</key>
			<dict>
				<key>lastModification</key>
				<real>505462149.53351003</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>labkit 演示 copy.md</key>
			<dict>
				<key>lastModification</key>
				<real>505462149.53351003</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>labkit 演示.md</key>
			<dict>
				<key>lastModification</key>
				<real>505462149.53350902</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>labkit前端开发指南.md</key>
			<dict>
				<key>lastModification</key>
				<real>505462172.23081398</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>labkit后端开发指南.md</key>
			<dict>
				<key>lastModification</key>
				<real>505462898.98211598</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>labkit命令行使用指南.md</key>
			<dict>
				<key>lastModification</key>
				<real>505462149.533508</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>labkit开发工具, 版本管理和合作开发的基础知识.md</key>
			<dict>
				<key>lastModification</key>
				<real>505464077.07676798</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>labkit架构.md</key>
			<dict>
				<key>lastModification</key>
				<real>505464046.35468</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>labkit背景和介绍.md</key>
			<dict>
				<key>lastModification</key>
				<real>505465197.84837198</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>markdown语法.md</key>
			<dict>
				<key>lastModification</key>
				<real>505462149.53350598</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>my-gitit.conf</key>
			<dict>
				<key>lastModification</key>
				<real>505462149.53350502</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>task_example.yaml</key>
			<dict>
				<key>lastModification</key>
				<real>505462149.53350401</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>test.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>505462236.62617397</real>
				<key>lastModification</key>
				<real>505462236.62617397</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>人月神话 - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>505629396.70389801</real>
				<key>lastModification</key>
				<real>505629396.70389801</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>人月神话.md</key>
			<dict>
				<key>lastModification</key>
				<real>505629117.42058903</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>45</integer>
				</dict>
			</dict>
			<key>各种计算方法比较.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>505462355.62333798</real>
				<key>lastModification</key>
				<real>505462355.62333798</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>实验室数据库databank开发指南.md</key>
			<dict>
				<key>lastModification</key>
				<real>505462184.00779098</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>机器学习.md</key>
			<dict>
				<key>lastModification</key>
				<real>505642083.221659</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>66</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>505461230.79428101</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>人月神话 - 2.md</string>
		</array>
		<array>
			<string>机器学习.md</string>
		</array>
		<array>
			<string>TensorFlow.md</string>
		</array>
		<array>
			<string>Tensorflow基本使用.md</string>
		</array>
		<array>
			<string>人月神话.md</string>
		</array>
		<array>
			<string>labkit开发工具, 版本管理和合作开发的基础知识.md</string>
		</array>
		<array>
			<string>labkit架构.md</string>
		</array>
		<array>
			<string>实验室数据库databank开发指南.md</string>
		</array>
		<array>
			<string>labkit前端开发指南.md</string>
		</array>
		<array>
			<string>Gitit User’s Guide.md</string>
		</array>
		<array>
			<string>各种计算方法比较.md</string>
		</array>
		<array>
			<string>task_example.yaml</string>
		</array>
		<array>
			<string>my-gitit.conf</string>
		</array>
		<array>
			<string>markdown语法.md</string>
		</array>
		<array>
			<string>labkit后端开发指南.md</string>
		</array>
		<array>
			<string>labkit命令行使用指南.md</string>
		</array>
		<array>
			<string>labkit背景和介绍.md</string>
		</array>
		<array>
			<string>labkit 演示.md</string>
		</array>
		<array>
			<string>labkit 演示 copy.md</string>
		</array>
		<array>
			<string>introduction of labkit.md</string>
		</array>
		<array>
			<string>Help.md</string>
		</array>
		<array>
			<string>index.md</string>
		</array>
		<array>
			<string>test.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>modificationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
			<integer>67</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
