<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>GIT USAGE NOTE.md</key>
			<dict>
				<key>lastModification</key>
				<real>510664844.938164</real>
				<key>version</key>
				<dict>
					<key>69127AFE-C368-48B1-AB7D-E3BF94EBE98A</key>
					<integer>2</integer>
					<key>726699DC-0029-4F06-B956-6D9508432702</key>
					<integer>1</integer>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>97</integer>
				</dict>
			</dict>
			<key>Gitit User’s Guide.md</key>
			<dict>
				<key>lastModification</key>
				<real>505462149.533503</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>Help.md</key>
			<dict>
				<key>lastModification</key>
				<real>505462149.53351003</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>TensorFlow.md</key>
			<dict>
				<key>lastModification</key>
				<real>505631655.03574699</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>62</integer>
				</dict>
			</dict>
			<key>Tensorflow基本使用.md</key>
			<dict>
				<key>lastModification</key>
				<real>505631640.92877197</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>58</integer>
				</dict>
			</dict>
			<key>buildout.md</key>
			<dict>
				<key>lastModification</key>
				<real>510676631.27723801</real>
				<key>version</key>
				<dict>
					<key>69127AFE-C368-48B1-AB7D-E3BF94EBE98A</key>
					<integer>2</integer>
					<key>726699DC-0029-4F06-B956-6D9508432702</key>
					<integer>1</integer>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>122</integer>
				</dict>
			</dict>
			<key>git submodule.md</key>
			<dict>
				<key>lastModification</key>
				<real>510664794.58441901</real>
				<key>version</key>
				<dict>
					<key>69127AFE-C368-48B1-AB7D-E3BF94EBE98A</key>
					<integer>2</integer>
					<key>726699DC-0029-4F06-B956-6D9508432702</key>
					<integer>1</integer>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>95</integer>
				</dict>
			</dict>
			<key>git.md</key>
			<dict>
				<key>lastModification</key>
				<real>510664854.22620201</real>
				<key>version</key>
				<dict>
					<key>69127AFE-C368-48B1-AB7D-E3BF94EBE98A</key>
					<integer>2</integer>
					<key>726699DC-0029-4F06-B956-6D9508432702</key>
					<integer>1</integer>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>gitlab flow.md</key>
			<dict>
				<key>lastModification</key>
				<real>510747301.39021498</real>
				<key>version</key>
				<dict>
					<key>69127AFE-C368-48B1-AB7D-E3BF94EBE98A</key>
					<integer>6</integer>
					<key>726699DC-0029-4F06-B956-6D9508432702</key>
					<integer>1</integer>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>163</integer>
				</dict>
			</dict>
			<key>gy.md</key>
			<dict>
				<key>lastModification</key>
				<real>510664385.59924901</real>
				<key>version</key>
				<dict>
					<key>69127AFE-C368-48B1-AB7D-E3BF94EBE98A</key>
					<integer>2</integer>
					<key>726699DC-0029-4F06-B956-6D9508432702</key>
					<integer>1</integer>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>81</integer>
				</dict>
			</dict>
			<key>index.md</key>
			<dict>
				<key>lastModification</key>
				<real>505462149.53351098</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>introduction of labkit.md</key>
			<dict>
				<key>lastModification</key>
				<real>505462149.53351003</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>labkit - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>510744392.783113</real>
				<key>lastModification</key>
				<real>510744392.783113</real>
				<key>version</key>
				<dict>
					<key>69127AFE-C368-48B1-AB7D-E3BF94EBE98A</key>
					<integer>6</integer>
					<key>726699DC-0029-4F06-B956-6D9508432702</key>
					<integer>1</integer>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>148</integer>
				</dict>
			</dict>
			<key>labkit virtualenv.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>510664743.12621403</real>
				<key>lastModification</key>
				<real>510664790.10187101</real>
				<key>version</key>
				<dict>
					<key>69127AFE-C368-48B1-AB7D-E3BF94EBE98A</key>
					<integer>2</integer>
					<key>726699DC-0029-4F06-B956-6D9508432702</key>
					<integer>1</integer>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>94</integer>
				</dict>
			</dict>
			<key>labkit 描述.md</key>
			<dict>
				<key>lastModification</key>
				<real>510744410.14084297</real>
				<key>version</key>
				<dict>
					<key>69127AFE-C368-48B1-AB7D-E3BF94EBE98A</key>
					<integer>6</integer>
					<key>726699DC-0029-4F06-B956-6D9508432702</key>
					<integer>1</integer>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>149</integer>
				</dict>
			</dict>
			<key>labkit 文档编辑.md</key>
			<dict>
				<key>lastModification</key>
				<real>510667495.59429598</real>
				<key>version</key>
				<dict>
					<key>69127AFE-C368-48B1-AB7D-E3BF94EBE98A</key>
					<integer>2</integer>
					<key>726699DC-0029-4F06-B956-6D9508432702</key>
					<integer>1</integer>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>118</integer>
				</dict>
			</dict>
			<key>labkit 测试.md</key>
			<dict>
				<key>lastModification</key>
				<real>510666828.970469</real>
				<key>version</key>
				<dict>
					<key>69127AFE-C368-48B1-AB7D-E3BF94EBE98A</key>
					<integer>2</integer>
					<key>726699DC-0029-4F06-B956-6D9508432702</key>
					<integer>1</integer>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>111</integer>
				</dict>
			</dict>
			<key>labkit 演示 copy.md</key>
			<dict>
				<key>lastModification</key>
				<real>505462149.53351003</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>labkit 演示.md</key>
			<dict>
				<key>lastModification</key>
				<real>505462149.53350902</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>labkit's virtualenv.md</key>
			<dict>
				<key>lastModification</key>
				<real>510664547.430453</real>
				<key>version</key>
				<dict>
					<key>69127AFE-C368-48B1-AB7D-E3BF94EBE98A</key>
					<integer>2</integer>
					<key>726699DC-0029-4F06-B956-6D9508432702</key>
					<integer>1</integer>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>90</integer>
				</dict>
			</dict>
			<key>labkit前端开发指南.md</key>
			<dict>
				<key>lastModification</key>
				<real>505462172.23081398</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>labkit后端开发指南.md</key>
			<dict>
				<key>lastModification</key>
				<real>505462898.98211598</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>labkit命令行使用指南.md</key>
			<dict>
				<key>lastModification</key>
				<real>505462149.533508</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>labkit开发工具, 版本管理和合作开发的基础知识(流程).md</key>
			<dict>
				<key>lastModification</key>
				<real>510746164.83099198</real>
				<key>version</key>
				<dict>
					<key>69127AFE-C368-48B1-AB7D-E3BF94EBE98A</key>
					<integer>6</integer>
					<key>726699DC-0029-4F06-B956-6D9508432702</key>
					<integer>1</integer>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>155</integer>
				</dict>
			</dict>
			<key>labkit架构.md</key>
			<dict>
				<key>lastModification</key>
				<real>505464046.35468</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>labkit背景和介绍.md</key>
			<dict>
				<key>lastModification</key>
				<real>505465197.84837198</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>ly.md</key>
			<dict>
				<key>lastModification</key>
				<real>510664390.153108</real>
				<key>version</key>
				<dict>
					<key>69127AFE-C368-48B1-AB7D-E3BF94EBE98A</key>
					<integer>2</integer>
					<key>726699DC-0029-4F06-B956-6D9508432702</key>
					<integer>1</integer>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>85</integer>
				</dict>
			</dict>
			<key>markdown语法.md</key>
			<dict>
				<key>lastModification</key>
				<real>505462149.53350598</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>my-gitit.conf</key>
			<dict>
				<key>lastModification</key>
				<real>510480055.53295898</real>
				<key>version</key>
				<dict>
					<key>69127AFE-C368-48B1-AB7D-E3BF94EBE98A</key>
					<integer>1</integer>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>71</integer>
				</dict>
			</dict>
			<key>python setup.py.md</key>
			<dict>
				<key>lastModification</key>
				<real>510666803.09815198</real>
				<key>version</key>
				<dict>
					<key>69127AFE-C368-48B1-AB7D-E3BF94EBE98A</key>
					<integer>2</integer>
					<key>726699DC-0029-4F06-B956-6D9508432702</key>
					<integer>1</integer>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>105</integer>
				</dict>
			</dict>
			<key>python打包教程.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>510664518.75679302</real>
				<key>lastModification</key>
				<real>510664790.10186797</real>
				<key>version</key>
				<dict>
					<key>69127AFE-C368-48B1-AB7D-E3BF94EBE98A</key>
					<integer>2</integer>
					<key>726699DC-0029-4F06-B956-6D9508432702</key>
					<integer>1</integer>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>94</integer>
				</dict>
			</dict>
			<key>task_example.yaml</key>
			<dict>
				<key>lastModification</key>
				<real>510480055.53294498</real>
				<key>version</key>
				<dict>
					<key>69127AFE-C368-48B1-AB7D-E3BF94EBE98A</key>
					<integer>1</integer>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>71</integer>
				</dict>
			</dict>
			<key>try.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>510740987.03338498</real>
				<key>lastModification</key>
				<real>510740987.03338498</real>
				<key>version</key>
				<dict>
					<key>69127AFE-C368-48B1-AB7D-E3BF94EBE98A</key>
					<integer>6</integer>
					<key>726699DC-0029-4F06-B956-6D9508432702</key>
					<integer>1</integer>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>134</integer>
				</dict>
			</dict>
			<key>yaml.md</key>
			<dict>
				<key>lastModification</key>
				<real>510664241.41982299</real>
				<key>version</key>
				<dict>
					<key>69127AFE-C368-48B1-AB7D-E3BF94EBE98A</key>
					<integer>2</integer>
					<key>726699DC-0029-4F06-B956-6D9508432702</key>
					<integer>1</integer>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>74</integer>
				</dict>
			</dict>
			<key>人月神话.md</key>
			<dict>
				<key>lastModification</key>
				<real>505629117.42058903</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>45</integer>
				</dict>
			</dict>
			<key>团队协作指南 (core's conflicted copy 2017-03-09).md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>510744366.86421502</real>
				<key>lastModification</key>
				<real>510744382.25202501</real>
				<key>version</key>
				<dict>
					<key>69127AFE-C368-48B1-AB7D-E3BF94EBE98A</key>
					<integer>6</integer>
					<key>726699DC-0029-4F06-B956-6D9508432702</key>
					<integer>1</integer>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>145</integer>
				</dict>
			</dict>
			<key>实验室数据库databank开发指南.md</key>
			<dict>
				<key>lastModification</key>
				<real>505462184.00779098</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>机器学习.md</key>
			<dict>
				<key>lastModification</key>
				<real>505642083.221659</real>
				<key>version</key>
				<dict>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>66</integer>
				</dict>
			</dict>
			<key>版本和协作指南.md</key>
			<dict>
				<key>lastModification</key>
				<real>510746277.01279497</real>
				<key>version</key>
				<dict>
					<key>69127AFE-C368-48B1-AB7D-E3BF94EBE98A</key>
					<integer>6</integer>
					<key>726699DC-0029-4F06-B956-6D9508432702</key>
					<integer>1</integer>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>159</integer>
				</dict>
			</dict>
			<key>获取 labkit 之后 (core's conflicted copy 2017-03-09).md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>510741761.82462603</real>
				<key>lastModification</key>
				<real>510744382.25202298</real>
				<key>version</key>
				<dict>
					<key>69127AFE-C368-48B1-AB7D-E3BF94EBE98A</key>
					<integer>6</integer>
					<key>726699DC-0029-4F06-B956-6D9508432702</key>
					<integer>1</integer>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>145</integer>
				</dict>
			</dict>
			<key>获取 labkit 之后.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>510741761.82392001</real>
				<key>lastModification</key>
				<real>510741761.82392001</real>
				<key>version</key>
				<dict>
					<key>69127AFE-C368-48B1-AB7D-E3BF94EBE98A</key>
					<integer>6</integer>
					<key>726699DC-0029-4F06-B956-6D9508432702</key>
					<integer>1</integer>
					<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
					<integer>139</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>510658429.59501302</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>try.md</string>
		</array>
		<array>
			<string>获取 labkit 之后.md</string>
		</array>
		<array>
			<string>labkit - 2.md</string>
		</array>
		<array>
			<string>gitlab flow.md</string>
		</array>
		<array>
			<string>版本和协作指南.md</string>
		</array>
		<array>
			<string>labkit 描述.md</string>
		</array>
		<array>
			<string>buildout.md</string>
		</array>
		<array>
			<string>labkit 文档编辑.md</string>
		</array>
		<array>
			<string>labkit 测试.md</string>
		</array>
		<array>
			<string>python setup.py.md</string>
		</array>
		<array>
			<string>git.md</string>
		</array>
		<array>
			<string>git submodule.md</string>
		</array>
		<array>
			<string>ly.md</string>
		</array>
		<array>
			<string>gy.md</string>
		</array>
		<array>
			<string>labkit's virtualenv.md</string>
		</array>
		<array>
			<string>机器学习.md</string>
		</array>
		<array>
			<string>TensorFlow.md</string>
		</array>
		<array>
			<string>Tensorflow基本使用.md</string>
		</array>
		<array>
			<string>人月神话.md</string>
		</array>
		<array>
			<string>labkit开发工具, 版本管理和合作开发的基础知识(流程).md</string>
		</array>
		<array>
			<string>labkit架构.md</string>
		</array>
		<array>
			<string>实验室数据库databank开发指南.md</string>
		</array>
		<array>
			<string>labkit前端开发指南.md</string>
		</array>
		<array>
			<string>Gitit User’s Guide.md</string>
		</array>
		<array>
			<string>task_example.yaml</string>
		</array>
		<array>
			<string>my-gitit.conf</string>
		</array>
		<array>
			<string>markdown语法.md</string>
		</array>
		<array>
			<string>labkit后端开发指南.md</string>
		</array>
		<array>
			<string>labkit命令行使用指南.md</string>
		</array>
		<array>
			<string>labkit背景和介绍.md</string>
		</array>
		<array>
			<string>labkit 演示.md</string>
		</array>
		<array>
			<string>labkit 演示 copy.md</string>
		</array>
		<array>
			<string>introduction of labkit.md</string>
		</array>
		<array>
			<string>Help.md</string>
		</array>
		<array>
			<string>index.md</string>
		</array>
		<array>
			<string>GIT USAGE NOTE.md</string>
		</array>
		<array>
			<string>yaml.md</string>
		</array>
		<array>
			<string>python打包教程.md</string>
		</array>
		<array>
			<string>labkit virtualenv.md</string>
		</array>
		<array>
			<string>获取 labkit 之后 (core's conflicted copy 2017-03-09).md</string>
		</array>
		<array>
			<string>团队协作指南 (core's conflicted copy 2017-03-09).md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>modificationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>69127AFE-C368-48B1-AB7D-E3BF94EBE98A</key>
			<integer>6</integer>
			<key>726699DC-0029-4F06-B956-6D9508432702</key>
			<integer>1</integer>
			<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
			<integer>164</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>ed68c29dac2836f47d980cbc97c05284678fc516299f321e8754ba0fdde28f49</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
